section {
  background-color: #38aecc;
  padding: 48px;
  text-align: center;
}

h2 {
  color: white;
}

.project-link {
  max-width: 300px;
  background-color: #183446;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 12px;
  border-radius: 32px;
  overflow: hidden;
}

.project-image {
  max-width: 100%;
  height: auto;
  display: block;
/*   border-radius: 32px 32px 0 0; */
}